.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 20vmin;
  pointer-events: none;
}

.typing-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em
}

.text { 
  font-size: 24px;
}

.progress-container {
  width: 50%;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em
}

.progress-container .progress-text {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  font-size: 20px;
}

.button-container {
  margin-block-start: 0.4em;
  margin-block-end: 0.4em
}

.progress-indicator {
}

.current-char {
  animation: cursor 1s infinite ease-in-out;
}

@keyframes cursor {
  0% {
    background-color: rgb(9,211,172, .3);
  }
  30% {
    background-color: rgb(9,211,172, 1);
  }
}

.button {
  min-width: 140px;
}

.pd-not-detected {
  color: rgb(9,211,172, 1)
}

.pd-detected {
  color: #f47c1f
}

/* */

svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  -webkit-animation: dash .9s ease-in-out;
  animation: dash .9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  -webkit-animation: dash .9s .35s ease-in-out forwards;
  animation: dash .9s .35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  -webkit-animation: dash-check .9s .35s ease-in-out forwards;
  animation: dash-check .9s .35s ease-in-out forwards;
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}